eye_track.py
data/logs/basic_model/events.out.tfevents.1560214211.albert-Inspiron-15-7000-Gaming
deep/deep/events.out.tfevents.1560717409.albert-Inspiron-15-7000-Gaming
deep_model/deep_model/events.out.tfevents.1560643857.albert-Inspiron-15-7000-Gaming
